DB_USER=postgres
DB_PASS=password
DB_IP=127.0.0.1
DB_PORT=5432
DB_NAME=tbgp
SECRET_KEY=change_me_in_production
ADMIN_MEMBER_ID=
CLIENT_POOL_PERCENT=50
CONTRACTOR_POOL_PERCENT=25
ADMIN_ACCOUNT_PERCENT=25
MEMBER_EARNINGS_CAP_FIRST_PROJECT=15000000
MEMBER_EARNINGS_CAP_SECOND_PROJECT=10000000
MEMBER_EARNINGS_CAP_NTH_PROJECT=5000000
